/* body {
  background-color: #f8f9fa;
} */

/* .container {
  max-width: 800px;
  margin: 0 auto;
} */

.response-area {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-item {
  border-left: 1px solid #d3d3d3;
  padding-left: 15px;
  margin-left: -1px;
  flex: 1;
}

.forecast-item:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.forecast-content {
  margin: 0 auto;
  max-width: 120px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

h3, h5 {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.form-group input {
  height: 45px;
  font-size: 1.2em;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  height: 45px;
  font-size: 1.2em;
  max-width: 400px;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

@media (max-width: 600px) {
  .form-group input, .btn {
    width: 100%;
    max-width: none;
  }

  .forecast-item {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
  }

  .forecast-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .forecast-item img {
    margin-left: 10px;
  }

  .forecast-item:first-child {
    border-left: none;
    border-top: none;
  }

  .forecast-item:last-child {
    border-bottom: none;
  }
}

@media (min-width: 601px) {
  .form-group input, .btn {
    min-width: 200px;
  }

  .forecast-item {
    flex: 1;
  }
}

/* Custom styles for the navigation bar */
.nav-pills .nav-link {
  color: #343a40; /* Bootstrap's dark color */
  background-color: transparent;
  border: 0; /* Remove any border */
  transition: color 0.2s; /* Smooth transition for color change */
}

.nav-pills .nav-link:hover {
  color: #6c757d; /* Bootstrap's gray color */
  background-color: transparent; /* Keep the background transparent */
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
  color: white;
  background-color: #343a40; /* Bootstrap's dark color */
  border: 0; /* Remove any border if present */
}

/* Footer styling */
/* footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
} */

footer .nav-pills .nav-link {
  color: #343a40; /* Bootstrap's dark color */
  background-color: transparent;
  border: 0; /* Remove any border */
  transition: color 0.2s; /* Smooth transition for color change */
}

footer .nav-pills .nav-link:hover {
  color: #6c757d; /* Bootstrap's gray color */
  background-color: transparent; /* Keep the background transparent */
}

footer .nav-pills .nav-link.active, footer .nav-pills .nav-link.active:hover, footer .nav-pills .nav-link.active:focus {
  color: white;
  background-color: #343a40; /* Bootstrap's dark color */
  border: 0; /* Remove any border if present */
}

/* Social media icons */
footer .nav li a {
  display: inline-block;
  margin: 0 5px;
}

/* For About page */

li {
  margin-bottom: 2px !important;
}

/* .about-h1 {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-optical-sizing: inherit;
  font-variation-settings: inherit;
} */

#family-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%; /* Ensure it stretches to the width of its container */
  height: auto; /* Maintain aspect ratio */
  margin: 0; /* Remove any default margin */
}

#family-image-section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

img#family-image.img-fluid {
  width: 100%; /* This will ensure it's full width of its container */
  height: auto; /* This will maintain the aspect ratio of the image */
  display: block; /* Removes any space below the image */
}

.bi-cup-hot, .bi-person-walking, .bi-egg-fried, .bi-code { /* Add all relevant SVG icon classes here */
  vertical-align: middle; /* This aligns the middle of the SVG with the middle of the text line */
}

svg.bi {
  vertical-align: middle;
}

/* Ensure the parent div is a flex container and items are aligned properly */
.col.d-flex.align-items-start {
  display: flex;
  align-items: center; /* Center align items vertically */
}

.col.d-flex.align-items-start svg {
  margin-right: 0.75rem; /* Space between icon and text */
}

/* About Page Paragraph Text */

.text-box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: left;
}

/* Background color for About page */
#about-page {
  background-color: #ffffff;
}


















